@font-face {
font-family: 'Orbitron';
    src:	url('./Orbitron-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.image { 
   position: relative; 
   width: 265px; height: 250px; /* for IE 6 */
   word-wrap: break-word;
}

#map {
   position: absolute; 
   width: 266px; height:251px; 
   top: 0px;
   left: 0px;
}

div.data {
   position: absolute; 
   width: 255px; 
   color: white; 
   font: bold 25px Orbitron, Helvetica, Sans-Serif;  
   background: none; 
   padding: 4px; 
   text-shadow:  3px  3px 3px black,
                  3px -3px 3px black,
                 -3px  3px 3px black;
}

.mapname{
   background: rgb(0, 0, 0); /* fallback color */	
   background: rgba(0, 0, 0, 0.5)!important; 
   height:25px;
   width: 265px!important; 
   top: 0px!important;  
   text-align: center!important; 
   right: 5px!important;  
   left:-5px!important;   
   padding-top: 6px!important;
   padding-bottom: 10px!important;
}


.player1{
   font-size: 30px!important;
   top: 40px;
   left: 10px; 
   text-align: left;
}

.player2{
   font-size: 30px!important;
   top: 170px;
   right: 10px; 
   text-align: right;
}

.vs{
   font-size: 40px!important;
   top: 95px;
   left: 0px; 
   text-align: center;
}


div.image{
   position: absolute; 
   width: 265px; height:250px; border-radius:8%;
   border-style: solid;
   border-width: 6px;
   background-color: #ffffff;
   overflow: hidden;
}

div.opa{
   position: absolute; 
   width: 265px; height:250px; 
   background-color: #000000;
   overflow: hidden;
   color: white; 
   font: bold 35px Orbitron, Helvetica, Sans-Serif; 
}

div.number{
   color: white; 
   font: bold 24px Orbitron, Helvetica, Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5)!important; 
   position: absolute; 
   width: 140px; height:30px;
   border-top-left-radius: 20px;
   bottom: 0px;
   text-align: center;
   right: -0px;
   padding:1px;
   padding-bottom: 4px!important;
}

#firstrace {
   position: absolute; 
   top: 90px; 
   left: 0px; 
   height: 95px; 
}

#secondrace {
   position: absolute; 
   top: 75px; 
   right: 0px; 
   height: 95px; 
}