scctool/__pycache__/
scctool/*/__pycache__/
.pyupdater/
pyu-data/
pyupdater-usage.md
Streaming_data/
data/*
config.ini
Streaming_html/data/*-data.html
__pycache__/*
StarCraftCastingTool.spec
*.spec
*.log
StarCraftCastingTool.py
build_app.py
build_data.py
sign.py
*Ducklings.css
Streaming_html/src/ducklings/
Streaming_html/src/sound/player1.mp3
Streaming_html/src/sound/player2.mp3
