scctool/__pycache__/
scctool/*/__pycache__/
.pyupdater/
pyu-data/
pyupdater-usage.md
casting_data/
data/*
config.ini
casting_html/data/*-data.html
__pycache__/*
build/*
dist/*
*.log
build_app.py
build_data.py
sign.py
*Ducklings.css
*WCS.css
casting_html/src/ducklings/
casting_html/src/wcs/
casting_html/src/sound/player1.mp3
casting_html/src/sound/player2.mp3
OBS_*/
.idea/
scctool/__init__.pyc
.gitchangelog.rc
casting_html/src/js/profile.js
build_data_old.py
src/safe.json
.cache/
*.egg-info/
.tox/
tests/__pycache__/
hooks/__pycache__/
