appdirs >= 1.4.3
beautifulsoup4 >= 4.7.1
humanize >= 0.5.1
keyboard == 0.13.2
markdown2 >= 2.3.7
Pillow >= 5.4.1; platform_system == 'Windows'
pywin32 >= 224; platform_system == 'Windows'
PyQt5 >= 5.11.3
pytesseract >= 0.2.6; platform_system == 'Windows'
# PyUpdater >= 2.5.4
git+git://github.com/JMSwag/PyUpdater@master
requests >= 2.21.0
websockets >= 7.0
