@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');
/* latin */

@font-face {
  font-family: 'OrbitronAdv';
  font-style: normal;
  font-weight: 400;
  src: local('OrbitronAdv Regular'), local('OrbitronAdv-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font: OrbitronAdv, Orbitron;
  --padding: 2px;
  --border-size: 3px;
  --border-color: black;
  --total-width: 1005px;
  --total-height: 105px;
  --border-radius: 20px;
  --middle-width: 25%;
  --lower-text-height: 33%;
  --side-width: calc((100% - var(--middle-width)) / 2);
}

body {
  font-family: var(--font);
}

#container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block {
  height: var(--total-height);
  width: var(--total-width);
  padding: var(--padding);
}

.text-item {
  color: white;
  font-size: 18px;
  font-weight: bold;
  --outline-size: 2.5px;
  text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
  -webkit-font-smoothing: antialiased;
}

.winner {
  --winner-color: #f29b00;
  --size: 9px;
  color: white !important;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
  -webkit-font-smoothing: antialiased;
}

.loser {
  filter: brightness(75%);
  opacity: 0.85;
}

.race1.loser, .race2.loser {
  opacity: 0.85;
  filter: drop-shadow(0px 0px 1px #6BC2F9) brightness(75%);
}

.race1.winner, .race2.winner {
  --winner-color: #f29b00;
  filter: drop-shadow(0px 0px 1px #6BC2F9) drop-shadow(0px 0px 4px var(--winner-color));
}

div.box {
  position: relative;
  width: var(--total-width);
  height: var(--total-height);
  overflow: hidden;
}

div.box_left {
  position: absolute;
  height: 100%;
  left: 0%;
  width: calc(var(--side-width) + var(--border-radius));
  background-color: gray;
  background-size: 125%;
  background-position: 15% 15%;
  border: var(--border-size) solid var(--border-color);
  border-radius: 0px 0px 0px var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;
}

div.box_middle {
  position: absolute;
  height: 100%;
  left: var(--side-width);
  width: var(--middle-width);
  top: 0px;
  border: var(--border-size) solid var(--border-color);
  border-radius: 0px var(--border-radius) 0px var(--border-radius);
  background-image: url("../../img/textures/texture1.jpg");
  background-size: cover;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: calc(var(--total-height) - var(--border-size));
  --winner-color: white;
  --size: 4px;
  color: white !important;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

div.box_right {
  position: absolute;
  height: 100%;
  right: 0%;
  width: calc(var(--side-width) + var(--border-radius));
  background-color: gray;
  background-size: 125%;
  background-position: 80% 80%;
  border: var(--border-size) solid var(--border-color);
  border-radius: 0px var(--border-radius) 0px 0px;
  box-sizing: border-box;
  overflow: hidden
}

div.lower-text {
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: var(--lower-text-height);
  width: 100%;
  text-align: center;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6) !important;
}

div.tbd {
  background-image: url("../../img/textures/TBD_1.jpg")
}

div.maplabel {
  position: absolute;
  right: var(--border-radius);
  width: calc(100% - var(--border-radius) - 5px);
  text-align: center;
  line-height: 30px;
  height: 100%;
}

div.mapname {
  position: absolute;
  left: calc(var(--border-radius) - 6px);
  width: calc(100% - var(--border-radius) - 5px - 12px);
  text-align: center;
  line-height: 30px;
  height: 100%;
}

div.upper-text-right {
  position: absolute;
  top: 2px;
  height: calc(100% - var(--lower-text-height) - 10px);
  font-size: 28px;
  font-weight: bold;
  left: var(--border-radius);
  width: calc(100% - var(--border-radius) - 5px);
  text-align: center;
  line-height: 60px;
}

div.upper-text-left {
  position: absolute;
  top: 2px;
  height: calc(100% - var(--lower-text-height) - 10px);
  font-size: 28px;
  font-weight: bold;
  right: var(--border-radius);
  width: calc(100% - var(--border-radius) - 5px);
  text-align: center;
  line-height: 60px;
}

div.race1 {
  position: absolute;
  left: 5px;
  width: 80px;
  top: 2.5%;
  height: 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: drop-shadow(0px 0px 4px #6BC2F9);
}

div.race2 {
  position: absolute;
  right: 5px;
  width: 80px;
  top: 2.5%;
  height: 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: drop-shadow(0px 0px 4px #6BC2F9);
}

#protoss {
  height: calc(100% - 2px);
  top: 0px !important;
  background-image: url('../../img/races/Protoss.png');
}

#zerg {
  background-image: url('../../img/races/Zerg.png');
}

#terran {
  background-image: url('../../img/races/Terran.png');
  height: calc(100% - 24px);
  top: 12px !important;
}

#random {
  background-image: url('../../img/races/Random.png');
  height: calc(100% - 20px);
  top: 13px !important;
}

div.circle {
  position: absolute;
  background: #f00;
  right: 5px;
  bottom: 5px;
  width: 35px;
  height: 25px;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0px 0px 2px white;
}

div.opa {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: white;
  border-radius: 0px var(--border-radius) 0px var(--border-radius);
  box-sizing: border-box;
}
