@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');
/* latin */

@font-face {
        font-family: 'OrbitronAdv';
        font-style: normal;
        font-weight: 400;
        src: local('OrbitronAdv Regular'), local('OrbitronAdv-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
        --width: 800px;
        --height: 130px;
        --border-size: 2px;
        --border-color: black;
        --border-radius: 30px;
}

body {
        overflow: hidden;
}

div.box {
        width: var(--width);
        height: var(--height);
        position: absolute;
        text-align: center;
        left: calc((100% - var(--width)) / 2);
        top: calc((100% - var(--height)) / 2);
        transform: skewX(-10deg);
        background-size: cover;
        border-radius: 8px;
        border: 1px solid #000000;
        box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5), inset 1px 1px 0px rgba(255, 255, 255, 0.4);
        text-shadow: 1px 1px 1px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.4);
        overflow: hidden;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(8%, rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.0)), color-stop(92%, rgba(0, 0, 0, 0.40)), color-stop(100%, rgba(0, 0, 0, 0.60))), url("../../texture2.jpg") no-repeat;
}

div.race {
        position: absolute;
        background-position: center center;
        width: 200px;
        left: -10px;
        height: 100%;
        transform: skewX(10deg);
}

#random {
        background-image: url("../../random-black.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: invert(1) drop-shadow(2px 2px 2px black);
}

#protoss {
        background-image: url("../../protoss-black.png");
        background-repeat: no-repeat;
        background-position: center -105px;
        background-size: 140px;
        filter: invert(1) drop-shadow(2px 2px 2px black);
}

#zerg {
        background-image: url("../../zerg-black.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: invert(1) drop-shadow(2px 2px 2px black);
}

#terran {
        background-image: url("../../terran-black.png");
        background-repeat: no-repeat;
        background-position: center -25px;
        background-size: 180px;
        filter: invert(1) drop-shadow(2px 2px 2px black);
}

div.logo {
        position: absolute;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        right: calc(14px - var(--border-size));
        top: calc(6px - var(--border-size));
        height: 120px;
        width: 120px;
        overflow: hidden;
        transform: skewX(10deg);
        filter: drop-shadow(2px 2px 2px black);
}

div.label {
        position: absolute;
        top: calc(40% - 5px);
        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.5) !important;
}

div.name {
        position: absolute;
        top: calc(40% - 5px);
        left: 190px;
        width: 475px;
        height: 62px;
        /*line-height: 55px;
    */
        text-align: center;
        transform: skewX(10deg);
}

div.team {
        position: absolute;
        top: 0px;
        left: 190px;
        width: 475px;
        height: calc(40% - 5px);
        /*line-height: calc(40% - 7px);
    */
        text-align: center;
        font: bold 30px OrbitronAdv, Orbitron, Helvetica, Sans-Serif !important;
        transform: skewX(10deg);
}

.text-item {
        color: white;
        font: bold 44px OrbitronAdv, Orbitron, Helvetica, Sans-Serif;
        filter: drop-shadow(-1px -1px 1px black) drop-shadow(1px 1px 1px black) drop-shadow(2px 2px 2px black);
}
