@import url(http://fonts.googleapis.com/css?family=Orbitron);
:root {
    --width: 800px;
    --height: 120px;
    --border-size: 2px;
    --border-color: black;
    --border-radius: 30px;
}

body {
    overflow: hidden;
}


/* The animation code */

@keyframes example {
    0% {
        left: 110%;
        top: calc((100% - var(--height)) / 2);
        opacity: 1;
    }
    28% {
        left: calc((100% - var(--width)) / 2);
        top: calc((100% - var(--height)) / 2);
        opacity: 1;
    }
    90% {
        left: calc((100% - var(--width)) / 2);
        top: calc((100% - var(--height)) / 2);
        opacity: 1;
    }
    100% {
        left: calc((100% - var(--width)) / 2);
        top: calc((100% - var(--height)) / 2);
        opacity: 0;
    }
}


/* The element to apply the animation to */

div.box {
    width: var(--width);
    height: var(--height);
    position: absolute;
    text-align: center;
    left: 110%;
    top: calc((100% - var(--height)) / 2);
    border: var(--border-size) solid var(--border-color);
    border-radius: 0px var(--border-radius) 0px var(--border-radius);
    background-image: url("../texture2.jpg");
    background-size: cover;
    animation-name: example;
    animation-timing-function: cubic-bezier(.37, .01, 1, .73);
    animation-duration: 4s;
}

#race {
    position: absolute;
    left: -100px;
    top: -70px;
    height: 250px;
    -webkit-filter: drop-shadow(0px 0px 5px #6BC2F9);
    filter: drop-shadow(0px 0px 5px #6BC2F9);
}

div.logo {
    position: absolute;
    background-color: white;
    right: calc(0px - var(--border-size));
    top: calc(0px - var(--border-size));
    height: 120px;
    width: 120px;
    overflow: hidden;
    border: var(--border-size) solid var(--border-color);
    border-radius: 0px var(--border-radius) 0px var(--border-radius);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

div.label {
    position: absolute;
    top: calc(40% - 5px);
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.6)!important;
}

div.name {
    position: absolute;
    top: calc(40% - 10px);
    left: 15%;
    width: calc(85% - 120px);
    height: 35px;
    text-align: center;
}

div.team {
    position: absolute;
    top: 2px;
    left: 15%;
    width: 70%;
    height: 25px;
    text-align: center;
    font: bold 30px Orbitron, Helvetica, Sans-Serif!important;
}

.text-item {
    color: white;
    font: bold 44px Orbitron, Helvetica, Sans-Serif;
    --outline-size: 3px;
    text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
    -webkit-font-smoothing: antialiased;
}
