@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');

/* latin */
@font-face {
  font-family: 'OrbitronAdv';
  font-style: normal;
  font-weight: 400;
  src: local('OrbitronAdv Regular'), local('OrbitronAdv-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div.box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 660px;
    height: 160px;
}

div.center {
    position: absolute;
    top: 35px;
    left: 110px;
    width: 500px;
    height: 84px;
    display: table-cell;
    vertical-align: middle;
}

img.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 84px;
    max-width: 500px
}

img.leftlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    max-height: 160px;
}

div.right {
    position: absolute;
    top: 30px;
    left: 170px;
    width: 445px;
    height: 84px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
}

div.left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    display: table-cell;
    vertical-align: middle;
}

.text-item {
    color: white;
    font: bold 30px OrbitronAdv, Orbitron, Helvetica, Sans-Serif;
    --outline-size: 3px;
    text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
    -webkit-font-smoothing: antialiased;
}
