@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');
:root {
        --border-size: 2px;
        --border-color: black;
        --total-width: calc(1280px - 2 * var(--border-size));
        --total-height: calc(100px - 2 * var(--border-size));
        --border-radius: 20px;
        --middle-width: 120px;
        --logo-width: 80px;
        --lower-text-height: 33%;
        --side-width: calc((100% - var(--middle-width) - 2 * var(--logo-width)) / 2);
}

.text-item {
        color: white;
        font: bold 18px Orbitron, Helvetica, Sans-Serif;
        --outline-size: 3px;
        text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
        -webkit-font-smoothing: antialiased;
}

div.box {
        position: relative;
        width: var(--total-width);
        height: var(--total-height);
        border: var(--border-size) solid var(--border-color);
        border-radius: 0px var(--border-radius) 0px var(--border-radius);
        overflow: hidden;
        display: inline-block;
}

#logo1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
}

#logo2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
}

div.box_veryleft {
        position: absolute;
        height: var(--total-height);
        top: calc(0px - var(--border-size));
        left: calc(0px - var(--border-size));
        width: calc(var(--logo-width) + var(--border-radius) - 2 * var(--border-size));
        background-color: white;
        border: var(--border-size) solid var(--border-color);
        border-radius: 0px var(--border-radius) 0px var(--border-radius);
        overflow: hidden;
}

div.box_veryright {
        position: absolute;
        height: var(--total-height);
        top: calc(0px - var(--border-size));
        right: calc(0px - var(--border-size));
        width: calc(var(--logo-width) + var(--border-radius) - 2 * var(--border-size));
        background-color: white;
        border: var(--border-size) solid var(--border-color);
        border-radius: 0px var(--border-radius) 0px var(--border-radius);
        overflow: hidden;
}

div.box_left {
        position: absolute;
        height: 100%;
        background-image: url("../background-left.jpg");
        background-size: cover;
        background-repeat: repeat;
        background-position: -100px 0px;
        left: var(--logo-width);
        width: calc(var(--side-width) + var(--border-radius));
}

div.box_middle {
        position: absolute;
        height: 100%;
        left: calc(50% - var(--middle-width) / 2 - var(--border-size));
        width: var(--middle-width);
        top: calc(0px - var(--border-size));
        border: var(--border-size) solid var(--border-color);
        border-radius: 0px var(--border-radius) 0px var(--border-radius);
        background-image: url("../texture1.jpg");
        background-size: cover;
        font: bold 36px Orbitron, Helvetica, Sans-Serif;
        text-align: center;
        line-height: calc(var(--total-height) - var(--border-size));
        overflow: hidden;
}

div.box_right {
        position: absolute;
        height: var(--total-height);
        background-image: url("../background-right.jpg");
        background-size: cover;
        background-position: right bottom;
        right: var(--logo-width);
        width: calc(var(--side-width) + var(--border-radius));
}

div.upper-text-right {
        position: absolute;
        top: 0%;
        height: calc(100% - var(--lower-text-height));
        right: calc(0% + var(--border-radius) + 15px);
        width: calc(100% - 2 * var(--border-radius) - 30px);
        font: bold 36px Orbitron, Helvetica, Sans-Serif;
        text-align: center;
        line-height: 60px;
        overflow: hidden;
}

div.upper-text-left {
        position: absolute;
        top: 0%;
        height: calc(100% - var(--lower-text-height));
        left: calc(0% + var(--border-radius) + 15px);
        width: calc(100% - 2 * var(--border-radius) - 30px);
        font: bold 36px Orbitron, Helvetica, Sans-Serif;
        text-align: center;
        line-height: 60px;
        overflow: hidden;
}

div.lower-text {
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: var(--lower-text-height);
        width: 100%;
        line-height: 25px;
        background: rgba(0, 0, 0, 0.6)!important;
}

#circle {
        background: #f00;
        position: relative;
        bottom: 0px;
        width: 28px;
        height: 20px;
        border-radius: 0px 10px 0px 10px;
        box-shadow: 0px 0px 2px white;
        display: inline-block;
        margin: 1.5px;
        margin-bottom: -6px;
}

div.mapscore-right {
        position: absolute;
        left: calc(0% + var(--border-radius) + 6px);
        width: calc(100% - var(--border-radius) - 6px);
        text-align: center;
        line-height: 25px;
        height: 100%;
}

div.mapscore-left {
        position: absolute;
        left: calc(0% + var(--border-radius) + 3px);
        width: calc(100% - 2 * var(--border-radius) - 3px);
        text-align: center;
        line-height: 25px;
        height: 100%;
}

.winner {
        --winner-color: #f29b00;
        --size: 8px;
        color: white!important;
        text-shadow: 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color)!important;
        -webkit-font-smoothing: antialiased;
}

.score {
        --winner-color: white;
        --size: 5px;
        color: white!important;
        text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color)!important;
        -webkit-font-smoothing: antialiased;
}
