@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* latin */

:root {
        --border-size: 2px;
        --border-color: rgb(49, 86, 113);
        --total-width: 1280px;
        --total-height: 100px;
        --border-radius: 20px;
        --middle-width: 120px;
        --logo-width: 100px;
        --lower-text-height: 33%;
        --side-width: calc((100% - var(--middle-width) - 2 * var(--logo-width)) / 2);
}

.text-item {
        color: white;
        font: bold 18px Open Sans, Helvetica, Sans-Serif;
        --outline-size: 2.5px;
        text-shadow: 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113), 0px 0px var(--outline-size) rgb(49, 86, 113);
        -webkit-font-smoothing: antialiased;
}

div.box {
        position: relative;
        width: var(--total-width);
        height: var(--total-height);
        overflow: hidden;
        display: inline-block;
}

div.logo {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
}

div.box_veryleft {
        position: absolute;
        height: calc(100% - 5px);
        top: 2.5px;
        left: 0px;
        width: var(--logo-width);
        overflow: hidden;
}

div.box_veryright {
        position: absolute;
        height: calc(100% - 5px);
        top: 2.5px;
        right: 0px;
        width: var(--logo-width);
        overflow: hidden;
}

div.box_left {
        position: absolute;
        height: 100%;
        left: 0px;
        width: calc((100% - var(--middle-width) + 2 * var(--border-radius)) / 2);
        background-image: url("../ducklings/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        border: var(--border-size) solid var(--border-color);
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
        box-sizing: border-box;
        overflow: hidden;
}

div.box_middle {
        position: absolute;
        height: 100%;
        left: calc(50% - var(--middle-width) / 2 - var(--border-size));
        width: var(--middle-width);
        top: 0px;
        border: var(--border-size) solid var(--border-color);
        border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
        background-color: rgb(71, 123, 162);
        overflow: hidden;
        box-sizing: border-box;
}

div.score_left {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 100%;
        font: bold 40px Open Sans, Helvetica, Sans-Serif;
        text-align: center;
        line-height: calc(var(--total-height) - var(--border-size));
}

div.score_right {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 100%;
        font: bold 40px Open Sans, Helvetica, Sans-Serif;
        text-align: center;
        line-height: calc(var(--total-height) - var(--border-size));
}

div.score_middle {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        font: bold 40px Open Sans, Helvetica, Sans-Serif;
        text-align: center;
        line-height: calc(var(--total-height) - var(--border-size));
}

div.box_right {
        position: absolute;
        height: var(--total-height);
        right: 0px;
        width: calc((100% - var(--middle-width) + 2 * var(--border-radius)) / 2);
        background-image: url("../ducklings/background.jpg");
        background-size: cover;
        background-repeat: repeat;
        background-position: 0px 0px;
        border: var(--border-size) solid var(--border-color);
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
        box-sizing: border-box;
        overflow: hidden;
        transform: scaleX(-1);
}

div.upper-text-right {
        position: absolute;
        top: 0%;
        height: calc(100% - var(--lower-text-height));
        left: calc(0% + var(--logo-width) + var(--border-radius) + 0px);
        width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 10px);
        font: bold 36px Open Sans, Helvetica, Sans-Serif;
        text-align: center;
        line-height: 60px;
        overflow: hidden;
        transform: scaleX(-1);
}

div.upper-text-left {
        position: absolute;
        top: 0%;
        height: calc(100% - var(--lower-text-height));
        left: calc(0% + var(--logo-width) + var(--border-radius) + 0px);
        width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 10px);
        font: bold 36px Open Sans, Helvetica, Sans-Serif;
        text-align: center;
        line-height: 60px;
        overflow: hidden;
}

div.lower-text {
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: var(--lower-text-height);
        width: 100%;
        line-height: 25px;
        background: rgba(71, 123, 162, 0.6) !important;
}

#circle {
        background: #f00;
        position: relative;
        bottom: 0px;
        width: 28px;
        height: 20px;
        border-radius: 10px 10px 10px 10px;
        border: 2px solid var(--border-color);
        display: inline-block;
        margin: 1.5px;
        margin-bottom: -8px;
}

div.mapscore-right {
        position: absolute;
        left: calc(0% + var(--border-radius) + var(--logo-width) + 6px);
        width: calc(100% - var(--border-radius) - var(--logo-width) - 6px);
        text-align: center;
        line-height: 25px;
        height: 100%;
        transform: scaleX(-1);
}

div.mapscore-left {
        position: absolute;
        left: calc(0% + var(--border-radius) + var(--logo-width) + 6px);
        width: calc(100% - var(--border-radius) - var(--logo-width) - 6px);
        text-align: center;
        line-height: 25px;
        height: 100%;
}

.winner {
        --winner-color: #ffcc66;
        --size: 8px;
        color: white !important;
        text-shadow: 0px 0px 2.5px rgb(49, 86, 113), 0px 0px 2.5px rgb(49, 86, 113), 0px 0px 2.5px rgb(49, 86, 113), 0px 0px 2.5px rgb(49, 86, 113), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
        -webkit-font-smoothing: antialiased;
}
