@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');
/* latin */

@font-face {
  font-family: 'OrbitronAdv';
  font-style: normal;
  font-weight: 400;
  src: local('OrbitronAdv Regular'), local('OrbitronAdv-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --border-size: 2px;
  --border-color: black;
  --total-width: calc(1280px - 2 * var(--border-size));
  --total-height: calc(100px - 2 * var(--border-size));
  --border-radius: 20px;
  --middle-width: 120px;
  --logo-width: 80px;
  --lower-text-height: 33%;
  --side-width: calc((100% - var(--middle-width) - 2 * var(--logo-width)) / 2);
}

body {
  font-family: OrbitronAdv, Orbitron, Helvetica, Sans-Serif;
}

.text-item {
  color: white;
  font-size: 18px;
  font-weight: bold;
  --outline-size: 3px;
  text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
  -webkit-font-smoothing: antialiased;
}

div.box {
  position: relative;
  width: var(--total-width);
  height: var(--total-height);
  border: var(--border-size) solid var(--border-color);
  border-radius: 0px var(--border-radius) 0px var(--border-radius);
  overflow: hidden;
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.5), inset 1px 1px 0px rgba(255, 255, 255, 0.4);
}

div.logo {
  /* background-color: white; */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 4px white);
}

div.box_veryleft {
  position: absolute;
  height: calc(var(--total-height) - 6px);
  top: calc(var(--border-size) + 3px);
  left: calc(var(--border-radius) / 4);
  width: calc(var(--logo-width) + var(--border-radius) - 2 * var(--border-size));
  overflow: hidden;
}

div.box_veryright {
  position: absolute;
  height: calc(var(--total-height) - 6px);
  top: calc(var(--border-size) + 3px);
  right: calc(var(--border-radius) / 4);
  width: calc(var(--logo-width) + var(--border-radius) - 2 * var(--border-size));
  overflow: hidden;
}

div.box_left {
  position: absolute;
  height: 100%;
  left: 0px;
  width: calc((100% - var(--middle-width) + 2 * var(--border-radius)) / 2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(8%, rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.0)), color-stop(92%, rgba(0, 0, 0, 0.40)), color-stop(100%, rgba(0, 0, 0, 0.20))), url("../../img/textures/background-left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}

div.box_middle {
  position: absolute;
  height: 100%;
  left: calc(50% - var(--middle-width) / 2 - var(--border-size));
  width: var(--middle-width);
  top: calc(0px - var(--border-size));
  border: var(--border-size) solid var(--border-color);
  border-radius: 0px var(--border-radius) 0px var(--border-radius);
  background-image: url("../texture1.jpg");
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(8%, rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.0)), color-stop(92%, rgba(0, 0, 0, 0.40)), color-stop(100%, rgba(0, 0, 0, 0.20))), url("../../img/textures/texture1.jpg");
  background-size: cover;
  overflow: hidden;
}

div.score_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: calc(var(--total-height) - var(--border-size));
}

div.score_right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: calc(var(--total-height) - var(--border-size));
}

div.score_middle {
  position: absolute;
  top: 0px;
  left: 50px;
  width: calc(var(--middle-width)-100px);
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: calc(var(--total-height) - var(--border-size));
}

div.box_right {
  position: absolute;
  height: 100%;
  right: 0px;
  width: calc((100% - var(--middle-width) + 2 * var(--border-radius)) / 2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(8%, rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.0)), color-stop(92%, rgba(0, 0, 0, 0.40)), color-stop(100%, rgba(0, 0, 0, 0.20))), url("../../img/textures/background-right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -600px 0px;
  box-sizing: border-box;
  overflow: hidden;
}

div.upper-text-right {
  position: absolute;
  top: 0%;
  height: calc(100% - var(--lower-text-height));
  right: calc(0% + var(--logo-width) + var(--border-radius) + 5px);
  width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 10px);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}

div.upper-text-left {
  position: absolute;
  top: 0%;
  height: calc(100% - var(--lower-text-height));
  left: calc(0% + var(--logo-width) + var(--border-radius) + 5px);
  width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 10px);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}

div.lower-text {
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: var(--lower-text-height);
  width: 100%;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.6) !important;
}

div.circle {
  background: #f00;
  position: relative;
  bottom: 0px;
  width: 28px;
  height: 20px;
  border-radius: 2px 8px 2px 8px;
  box-shadow: 2px 2px 2px black;
  margin: 4px;
  flex-shrink: 1;
}

div.mapscore-right {
  position: absolute;
  right: calc(0% + var(--logo-width) + var(--border-radius) + 8px);
  width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 16px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.mapscore-left {
  position: absolute;
  left: calc(0% + var(--logo-width) + var(--border-radius) + 8px);
  width: calc(100% - 2 * var(--border-radius) - var(--logo-width) - 16px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner {
  --winner-color: #f29b00;
  --size: 8px;
  color: white !important;
  text-shadow: 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px 2.5px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
  -webkit-font-smoothing: antialiased;
}

.score {
  --winner-color: white;
  --size: 5px;
  color: white !important;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
  -webkit-font-smoothing: antialiased;
}
