@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

div.bar {
  height: 37px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid black;
  border-top: none;
  color: black;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.6);
}

div.bar_player1, div.bar_player2 {
  float: left;
  height: 100%;
  width: 50%;
  font-family: 'Marcellus SC', Times, serif;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 35px;
  margin: -1px;
  border: 1px solid black;
}

div.bar_player1 {
  background-color: blue;
  background: -webkit-linear-gradient(top, rgba(48, 48, 220, 1) 0%, rgba(4, 4, 120, 1) 60%, rgba(4, 4, 120, 1) 80%, rgba(48, 48, 180, 1) 100%);
}

div.bar_player2 {
  background-color: red;
  background: -webkit-linear-gradient(top, rgba(220, 48, 48, 1) 0%, rgba(120, 4, 4, 1) 60%, rgba(120, 4, 4, 1) 80%, rgba(180, 48, 48, 1) 100%);
}

div.aligulac {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  background-color: black;
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 1) 0px, rgba(0, 0, 0, 1) 15px, rgba(10, 10, 10, 1) 100%);
  color: white;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.6);
  text-align: center;
}

span.aligulac {
  padding-left: 4px;
  font-family: 'Marcellus SC', Times, serif;
  font-size: 22px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  float: left;
}

span.prediction, span.score {
  font-family: 'Marcellus SC', Times, serif;
  font-size: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 4px;
}

span.prediction {
  float: left;
}


span.score {
  white-space: nowrap;
}

/* span.score::after, span.score::before{
   vertical-align: middle;
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-left: 8px;
   margin-right: 8px;
   margin-bottom: 2px;
   border-radius: 10px;
}

span.score::before{
    background-color: rgba(10,10,255);
}

span.score::after{
    background-color: rgba(240,10,10);
} */
