@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

div.bar{
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid black;
    color: black;
    box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.6);
}

div.bar_player1, div.bar_player2{
    float: left;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    font-family: 'Marcellus SC', Times, serif;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 35px;
    font-variant-numeric: tabular-nums;
}

div.bar_player1{
    background: -moz-linear-gradient(top,rgba(48,25,255,1) 0%, rgba(4,4,180,1) 100%);
}

div.bar_player2{
    background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(180,4,4,1) 100%);
}

div.aligulac{
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
}

span.aligulac{
    font-family: 'Marcellus SC', Times, serif;
    font-size: 20px;
    letter-spacing: 0.6em;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 2px white);
}
