@import url('https://fonts.googleapis.com/css?family=Orbitron:350,400');
/* latin */

@font-face {
  font-family: 'OrbitronAdv';
  font-style: normal;
  font-weight: 400;
  src: local('OrbitronAdv Regular'), local('OrbitronAdv-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font: OrbitronAdv, Orbitron;
  --padding: 2px;
}

body {
  font-family: var(--font);
}

#container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  width: 275px;
  height: 275px;
  padding: var(--padding);
}

div.image {
  position: relative;
  width: 275px;
  height: 275px;
  border-style: solid;
  border-radius: 6%;
  border-width: 6px;
  background-color: #3d3d3d;
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  word-wrap: break-word;
}

.text-item {
  color: white;
  font-size: 25px;
  font-weight: bold;
  --outline-size: 2.5px;
  text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
  -webkit-font-smoothing: antialiased;
}

div.upper-panel {
  position: absolute;
  height: 35px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  box-sizing: border-box;
}

div.lower-panel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 33px;
  min-width: 100px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-top-left-radius: 20px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
}

div.data {
  position: absolute;
  color: white;
  font-weight: bold;
  background: none;
  padding: 4px;
  --outline-size: 2.5px;
  text-shadow: 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black, 0px 0px var(--outline-size) black;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

.winner {
  --winner-color: #f29b00;
  --size: 8px;
  color: white !important;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color) !important;
  -webkit-font-smoothing: antialiased;
}

.loser{
  filter: brightness(75%);
  opacity: 0.85;
}

.race1.loser, .race2.loser{
  opacity: 0.85;
  filter: drop-shadow(0px 0px 1px #6BC2F9) brightness(75%);
}

.race1.winner, .race2.winner{
  --winner-color: #f29b00;
  filter: drop-shadow(0px 0px 1px #6BC2F9) drop-shadow(0px 0px 4px var(--winner-color));
}

div.player1 {
  font-size: 30px;
  top: 35px;
  width: 245px;
  height: 39px;
  left: 5px;
  text-align: left;
}

div.player2 {
  font-size: 30px;
  bottom: 35px;
  width: 245px;
  height: 39px;
  right: 5px;
  text-align: right;
}

.vs {
  font-size: 40px !important;
  top: 95px;
  left: 0px;
  width: 255px;
  text-align: center;
}

div.opa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  overflow: hidden;
  opacity: 0.0;
}

div.race1 {
  position: absolute;
  top: 75px;
  height: 100px;
  left: -5px;
  width: 110px;
  ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px white);
}

div.race2 {
  position: absolute;
  top: 75px;
  height: 100px;
  right: -5px;
  width: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px white);
}

#protoss {
  background-image: url('../../img/races/Protoss.png');
}

#zerg {
  background-image: url('../../img/races/Zerg.png');
  top: 77.5px !important;
  height: 95px !important;
}

#terran {
  background-image: url('../../img/races/Terran.png');
  top: 85px !important;
  height: 80px !important;
}

#random {
  background-image: url('../../img/races/Random.png');
  top: 85px !important;
  height: 80px !important;
}
