@font-face {
  font-family: "Eurostile Extd";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.starcraft2.com/dist/fonts/eurostileext-med-0050275a9320bb8dc80eb677dce63dbf664afbbe57440453110116416b398de22cdd27899e1f72118d07b1afdcbde0177f541f5414ccb54c6771b8cefe46dd35.woff2") format("woff");
}

:root {
  --font: Eurostile Extd;
  --padding: 2px;
}

body {
  letter-spacing: .00em;
  font-family: var(--font);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .8), 0 8px 16px rgba(0, 0, 0, .6);
  color: white;
}

#container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.misc:after {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 102, 204, .6), inset 0 0 40px rgba(0, 102, 204, .4);
  box-shadow: inset 0 0 10px rgba(0, 102, 204, .6), inset 0 0 40px rgba(0, 102, 204, .4);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.block {
  width: 275px;
  height: 275px;
  padding: var(--padding);
  margin: 11px;
}

div.image {
  position: relative;
  width: 275px;
  height: 275px;
  background-color: #3d3d3d;
  border: 0px solid !important;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  word-wrap: break-word;
}

div.image:after {
  border-style: solid;
  border-width: 17px 60px;
  border-image: url(../../img/textures/border3.png) 17 60 repeat;
  border-image-outset: 14px;
  content: "";
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.text-item {
  color: white;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
}

div.tbd {
  background-image: url("../../img/textures/TBD_1.jpg")
}

div.upper-panel {
  position: absolute;
  height: 35px;
  width: calc(100% - 22px);
  top: 11px;
  left: 11px;
  padding-bottom: 5px;
  line-height: 35px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), rgba(102, 68, 0, .9));
  color: #fd9;
  background-origin: border-box;
}

div.upper-panel:after {
  border-style: solid;
  border-width: 17px 60px;
  border-image: url(../../img/textures/border2.png) 17 60 repeat;
  border-image-outset: 14px;
  content: "";
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

div.lower-panel {
  position: absolute;
  bottom: 11px;
  right: 11px;
  height: 32px;
  line-height: 34px;
  min-width: 120px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 2px;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), rgba(102, 68, 0, .9));
  color: #fd9;
}

div.lower-panel:after {
  border-style: solid;
  border-width: 17px 60px;
  border-image: url(../../img/textures/border2.png) 17 60 repeat;
  border-image-outset: 14px;
  content: "";
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

div.data {
  position: absolute;
  color: white;
  font-weight: bold;
  background: none;
  padding: 4px;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

.winner {
  --winner-color: #ffcc66;
  --size: 6px;
  color: #fff6e6 !important;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .8), 0 8px 16px rgba(0, 0, 0, .6), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px var(--size) var(--winner-color), 0px 0px 1px #000000;
  -webkit-font-smoothing: antialiased;
}

.loser {
  filter: brightness(75%);
  opacity: 0.75;
}

.race1.loser, .race2.loser {
  opacity: 0.7 !important;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .8)) drop-shadow(0 8px 16px rgba(0, 0, 0, .6));
}

.race1.winner, .race2.winner {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .8)) drop-shadow(0 8px 16px rgba(0, 0, 0, .6)) drop-shadow(0px 0px 1px #ffcc66) drop-shadow(0px 0px 1px #ffcc66);
}

div.player1 {
  font-size: 30px;
  top: 60px;
  width: 245px;
  height: 39px;
  left: 5px;
  text-align: left;
}

div.player2 {
  font-size: 30px;
  bottom: 60px;
  width: 245px;
  height: 39px;
  right: 5px;
  text-align: right;
}

.vs {
  font-size: 40px !important;
  top: 105px;
  left: 0px;
  width: 100%;
  text-align: center;
}

div.opa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  overflow: hidden;
  opacity: 0.0;
}

div.race1 {
  position: absolute;
  top: 100px;
  height: 80px;
  left: 15px;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, .4)) drop-shadow(0 8px 16px rgba(255, 255, 255, .1));
  z-index: 0;
}

div.race2 {
  position: absolute;
  top: 100px;
  height: 80px;
  right: 15px;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 0;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, .4)) drop-shadow(0 8px 16px rgba(255, 255, 255, .1));
}

#protoss {
  background-image: url('../../img/races/Protoss.png');
  top: 90px;
  height: 100px;
}

#zerg {
  background-image: url('../../img/races/Zerg.png');
}

#terran {
  background-image: url('../../img/races/Terran.png');
  top: 100px;
  height: 74px;
}

#random {
  background-image: url('../../img/races/Random.png');
  top: 103px;
  height: 74px;
}
